@{
    ViewData["Title"] = "Home Page";
}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS (you might need to include it if not already included) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .carousel {
      margin-bottom: 30px;
      margin-top: 0px;
    }

    .carousel img {
      max-height: 550px;
      object-fit: cover;
      width: 100%;
    }

    .rounded-circle{
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Apply a smooth transition to transform and box-shadow */
            border-radius: 5px;
    }

    .rounded-circle:hover{
                transform: scale(1.02);
                box-shadow: 0 0 15px #00B5B8;
    }
  </style>
</head>

<body>
    <div class="container">
        <section class="carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <video class="img-fluid d-block w-100" autoplay loop muted>
                            <source src="https://media.istockphoto.com/id/1430926947/video/bride-groom-hold-hands.mp4?s=mp4-640x640-is&k=20&c=wwTop_fEDEMrb8oz_KACAbs0ua_4Fdl4Nh5wgV-mHcs=" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted>
                            <source src="https://media.istockphoto.com/id/1170656295/video/ive-never-been-more-certain-of-anything-in-my-life.mp4?s=mp4-640x640-is&k=20&c=BQgIMadxAB0pOv91WOjzOSlo2FkNsrgm632GO5XyO14=" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted>
                            <source src="https://media.istockphoto.com/id/1370982760/video/close-up-of-beautiful-woman-celebrating-her-birthday-blowing-out-the-candles-on-cake-looking.mp4?s=mp4-640x640-is&k=20&c=-h6DCXi3DejstcZwb1tIMtyd0RMcI5tp8hc-AOl_aH8=" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted>
                            <source src="https://media.istockphoto.com/id/1472658939/video/performance-of-a-pop-or-rock-group-music-band-on-stage-stage-neon-light-and-bright-strobe.mp4?s=mp4-640x640-is&k=20&c=r38GaKKQOiQnWspxCN-gTKjKcSyk-BaD2VlGcIobIIo=" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted>
                            <source src="https://media.istockphoto.com/id/864509294/video/people-group-catering-buffet-food-indoor-in-the-restaurant.mp4?s=mp4-640x640-is&k=20&c=1CXF6qKkdtA_idH3KcNnqsPSQORTYyBjxdW79f2DCaQ=" type="video/mp4" />
                        </video>
                    </div>
                    <div class="carousel-item">
                        <video class="img-fluid d-block w-100" autoplay loop muted>
                            <source src="https://media.istockphoto.com/id/1359386602/video/man-photographer-takes-pictures-in-a-restaurant-party-at-wedding-event.mp4?s=mp4-640x640-is&k=20&c=S2W4IkdH8VF2J0Ih2D1ysbV5_igD5TG5WtBmxVISRyc=" type="video/mp4" />
                        </video>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
    </div>
    <div>
        <section id="service-section" class="mt-5 mb-5 pr-3">
            <div class="container marketing text-center">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <img class="rounded-circle"
                             src="https://2.bp.blogspot.com/-uDJeJFTy6e0/Wnqn8j3OOoI/AAAAAAAABTQ/vxh5_Uft6g0BPpjdYkOzMx4NTleHE55PQCLcBGAs/s1600/MS%2BMarriage-marriage-hall-chennai.jpg"
                             alt="Halls"
                             width="240"
                             height="240" />
                        <h2>HALLS</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod...</p>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <img class="rounded-circle"
                             src="https://images.pexels.com/photos/2291367/pexels-photo-2291367.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                             alt="Catering"
                             width="240"
                             height="240" />
                        <h2>CATERING</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod...</p>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <img class="rounded-circle"
                             src="https://image.freepik.com/free-vector/various-street-food-vendor-flat-illustration_2482-381.jpg"
                             alt="Vendors"
                             width="240"
                             height="240" />
                        <h2>VENDORS</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod...</p>
                    </div>
                </div>

                <hr class="featurette-divider" />
                <!-- Featurette 1 -->
                <div class="row featurette">
                    <div class="col-md-7">
                        <div class="mt-1 text-center">
                            <h2 class="featurette-heading mt-2">
                                HALLS <p class="text-muted mt-2">It'll blow your mind.</p>
                            </h2>
                        </div>
                        <div class="mt-3">
                            <p class="lead">
                                At EventHub, we believe that the right venue sets the stage for a truly unforgettable event.
                                Our hall rental services offer a selection of exceptional spaces designed to cater to a variety of occasions.
                                From elegant ballrooms to versatile conference rooms,
                                EventHub Hall Rentals provides the perfect backdrop for your special moments.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto"
                             src="https://i.pinimg.com/originals/32/17/96/321796c217c3fa93013944de4772e7f8.jpg"
                             alt="Halls Featurette"
                             style="height: 250px; width: 100%" />
                    </div>
                </div>

                <hr class="featurette-divider" />
                <!-- Featurette 2 -->
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <div class="mt-1 text-center">
                            <h2 class="featurette-heading mt-2">
                                CATERING <p class="text-muted mt-2">The best memories are made at dinner</p>
                            </h2>
                        </div>
                        <div class="mt-3">
                            <p class="lead">
                                At EventHub, we understand that exceptional catering is an integral part of any successful event.
                                Our catering services are designed to elevate your guests' dining experience, ensuring that every bite is a delight. 
                                From exquisite cuisine to impeccable service,
                                our catering services is your trusted partner in creating memorable gastronomic moments.
                                </p>
                        </div>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <img class="featurette-image img-fluid mx-auto"
                             src="https://arzfinefoods.com/wp-content/uploads/2018/11/Catering_Promo.jpg"
                             alt="Catering Featurette"
                             style="height: 250px; width: 100%" />
                    </div>
                </div>

                <hr class="featurette-divider" />
                <!-- Featurette 3 -->
                <div class="row featurette">
                    <div class="col-md-7">
                        <div class="mt-1 text-center">
                            <h2 class="featurette-heading mt-2">
                                VENDORS <p class="text-muted mt-2">An artist is not paid for his Labor but for his vision.</p>
                            </h2>
                        </div>
                        <div class="mt-3">
                            <p class="lead">
                                At EventHub, we understand that every detail matters when it comes to creating memorable events.
                                Our vendor services bring together a curated selection of professionals and businesses to meet all your event needs. From florists to photographers,
                                EventHub Vendor Services ensures that you have access to top-notch professionals who excel in their respective fields.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img class="featurette-image img-fluid mx-auto"
                             src="https://image.freepik.com/free-vector/various-street-food-vendor-flat-illustration_2482-381.jpg"
                             alt="Vendors Featurette"
                             style="height: 250px; width: 100%" />
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Bootstrap JS (you might need to include it if not already included) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

